*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.orange{
    color: orange;
}
a{
    text-decoration: none;
}
.page{
    background: url('./../assets/img/transfert.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}